.block
  .centered
    .row
      %h1 Wickerpedia!
    .row
      = button_to "Sign Up", root_path, class: "button expand radius"
    .row
      = button_to "Sign In", root_path, class: "button secondary expand radius"
